@import "tailwindcss";

:root {
    --color-bg-primary: #0f0f0f;
    --color-bg-secondary: #1a1a1a;
    --color-border: #333;
    --color-text: #ffffff;
    --color-text-faded: #ccc;
    --color-accent-bg: #4a4a4a;
    --color-accent-hover: #5c5c5c;
    --color-attacker: rgba(255, 0, 0, 0.15); /* Reddish */
    --color-tm: rgba(0, 128, 255, 0.15);     /* Bluish */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

  /* Add smooth scroll behavior for mobile */
  html {
    scroll-behavior: smooth;
  }